Source: taskrelay
Section: host/tools
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: taskrelay
Architecture: any
Depends: ${shlibs:Depends}, lockfile-progs, inoticoming, mailx, devscripts, openssh-client
Description: Tool for publishing build task requests
 Taskrelay allows maintainers to request package builds.


