#!/usr/bin/make -f

clean:
	dh_testdir
	dh_clean

	$(MAKE) clean

build:
	dh_testdir
	$(MAKE)

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	install -m755 taskrelay-runner taskrelay-mail $(CURDIR)/debian/taskrelay/usr/bin
	install -m754 runtask $(CURDIR)/debian/taskrelay/usr/bin
	install -m744 task-scheduler $(CURDIR)/debian/taskrelay/usr/lib/taskrelay

binary-arch: install

binary-indep: install
	dh_testdir
	dh_testroot

	dh_installexamples
	dh_installchangelogs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: clean build install binary-arch binary
